BeautifulSoup==3.2.1
Django==1.5.3
Flask==0.10.1
Flask-Login==0.2.7
Jinja2==2.7.1
MarkupSafe==0.18
PyRSS2Gen==1.0.0
Twisted==12.2.0
Werkzeug==0.9.4
bdist-mpkg==0.4.4
beautifulsoup4==4.3.1
html5lib==0.99
ipython==1.1.0
itsdangerous==0.23
macholib==1.5
lxml==2.3.4
modulegraph==0.10.1
numpy==1.6.2
py2app==0.7.1
pytz==2012d
requests==1.2.3
scipy==0.11.0
six==1.4.1
vboxapi==1.0
virtualenv==1.10.1
wsgiref==0.1.2
xattr==0.6.4
zope.interface==3.8.0
