<h1><img src="{{ url_for('static', filename='favicon.ico', _external = True) }}" style="width: 25px; height: 25px;"><b>DART</b>Plan</p></h1>

<p>Hey {{user.nickname.split(" ")[0]}},</p>

<p>I'm sorry to say that it doesn't look like {{offering}} is being offered as a {{hour}} during {{term}} anymore. For now, we have removed the course from your DARTPlan. It is possible, however, that it is offered at another time that term.</p>

<p>Find your options at <a href="www.dartplan.com">dartplan.com</a>.</p>

<p>Regards,</p>

<p>Alex Gerstein<br/>
<a href="www.dartplan.com">dartplan.com</a></p>
