body {
	font-size: 14px; 
}

.sortable1, 
.sortable2 { 
	list-style-type: none; 
	background: #eee; 
	border: 1px solid black;
	overflow:scroll; 
	margin: 5px 0px;
}

.sortable1 {
	height: 50%;
}

.sortable2 {
	height: 145px;
}
    
.sortable1 li, 
.sortable2 li { 
	cursor: move; 
	background: none; 
	background-color: white; 
	border: 1px solid black;
	vertical-align: middle;
	z-index: 10000;
}

.sortable1 li {
	font-size: 1em;
}

.btn-group {
	margin: 0px 4px;
}

.dropdown-menu {
	min-width: 0px;
}

.off-term {
	background-color: black;
}

li.draggable.ui-state-default  {
	line-height: 35px;
	padding: 0px 5px;
}

li.term-name {
	font-size: 1.5em;
	color: white;
	background-color: green;
	text-align: center;
	line-height: normal;
}

.available {
	background-color: #A5E89E;
}

.available-off {
	background-color: #3A5E36;
}

.available-user {
	background-color: #FFFF99;
}

.available-user-off {
	background-color: #808066;
}

.btn-danger {
	font-size: .5em;
	line-height: normal;
}

button {
	margin: 0px 4px;
	font-size: 1em;
}

.btn.off {
	margin: 0px 4px;
	font-size: .5em;
	line-height: normal;
}

.popover-content {
    max-height: 300px;
    overflow-y: auto;
}

.popover-content h1 {
	font-size: 22px;
}

@media (max-width: 1050px) {
	.span3.edit {
		display: none;
	}
	.btn-danger {
		display: none;
	}

}
