html,
body {
	height: 100%;;
	font-size: 14px;
}

.navbar .container-fluid {
	padding: 0;
}

#push,
.footer {
	min-height: 30px;
}

.footer {
	background-color: #333;
	color: rgb(178, 182, 176);
	position: fixed;
	width: 100%;
	bottom: 0;
}

.footer span{
	padding: 0 10px;
	line-height: 2;
}

.footer a{
	color: white;
}

.footer a:hover{
	color: green;
}

.fa-twitter {
	font-size: 18px;
}

#wrap {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	/* Negative indent footer by it's height */
	margin: 0 auto -30px;
}

.flash {
	padding: 8px 35px 8px 14px;
	margin-bottom: 20px;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
	border: 1px solid #fbeed5;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	 border-radius: 4px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 14px;
	line-height: 20px;
	background-color: #f2dede;
	border-color: #eed3d7;
	color: #b94a48;
}

.sortable1,
.sortable2 {
	list-style-type: none;
	background: #eee;
	overflow:scroll;
	margin: 0;
	margin-bottom: 10px;
	width: 100%;

	border-radius: 0px 0px 5px 5px;
	-moz-border-radius: 0px 0px 5px 5px;
	-webkit-border-radius: 0px 0px 5px 5px;
	border: 1px solid black;
}

.sortable1 {
	height: 55%;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

.sortable2 {
	height: 125px;
}

.sortable1 li,
.sortable2 li {
	cursor: move;
	background: none;
	background-color: white;
	border: 1px solid black;
	vertical-align: middle;
	z-index: 10000;
}

.sortable1 li {
	font-size: 1em;
}

li.pin {
	list-style-type: none;
	border-radius: 5px 5px 0px 0px;
	-moz-border-radius: 5px 5px 0px 0px;
	-webkit-border-radius: 5px 5px 0px 0px;
	border: 1px solid black;

	width: 100%;
}

.pin .btn {
	line-height:  17px;
}

.count {
	text-align: center;
}

select {
	width: 70%;
}

form {
	display: inline;
}

.btn-group {
	margin: 0px 4px;
}

.dropdown-menu {
	min-width: 0px;
}

.off-term {
	background-color: black;
}

li.draggable.ui-state-default  {
	line-height: 25px;
	padding: 0px 5px;
}

li.term-name {
	font-size: 1.5em;
	color: white;
	background-color: green;
	text-align: center;
	line-height: normal;
}

.available {
	background-color: #A5E89E;
}

.available-off {
	background-color: #3A5E36;
}

.available-user {
	background-color: #FFFF99;
}

.available-user-off {
	background-color: #808066;
}

.buttons {
	float: right;
}

.buttons .btn-danger {
	font-size: .5em;
	line-height: normal;
}

button {
	margin: 0px 4px;
	font-size: 1em;
}

.btn.off {
	margin: 0px 4px;
	font-size: .5em;
	line-height: normal;
}

.popover-content {
    max-height: 200px;
    overflow-y: auto;
}

.popover-content h1 {
	font-size: 22px;
}

/* Lastly, apply responsive CSS fixes as necessary */
@media (max-width: 767px) {
    .footer {
        margin-left: -20px;
        margin-right: -20px;
        padding-left: 20px;
        padding-right: 20px;
    }
}
