<div layout="row">
  <span flex></span>
  <div flex="50">
    <h1 class='md-display-2'>About DARTPlan</h1>
    <p>Your college experience is about to get a whole lot easier.</p>

    <p>Everyone at Dartmouth has their own way of keeping track of what courses they hope to take. Whether in an Excel document, on a sheet of paper, or in our heads, we all think we know what course would be best to take one, two, even three terms from now. Of course, the college never makes it this simple.</p>

    <p>Some courses are no longer offered. Some conflict with your other classes. Sometimes you realize you really don't want to finish that minor.</p>

    <p>As plans change, your course planner should change too. But what if it could change without manually searching though the Registrar's site? What if you could receive a blitz when your course will no longer be offered?</p>

    <p>With DARTPlan, it's now incredibly easy to find all of the courses that fit.</p>

    <p>What are you waiting for? <a href='/planner' target='_self'>Sign up</a> and get your D-Plans in order with DARTPlan.</p>


    <h1 class='md-display-1'>Contact</h1>
    <p>Have any questions, suggestions or ideas to make DARTPlan better? </p>

    <p><a href = "mailto:supportATdartplanDOTcom"
       onclick = "this.href=this.href
                  .replace(/AT/,'&#64;')
                  .replace(/DOT/,'&#46;')"
    >Blitz Me</a></p>

    <h1 class='md-display-1'>Contribute</h1>
    <p>DARTPlan is open-source. This includes both the code and the API! Feel free to hack away on an iPhone app for DARTPlan or help out with the code on <a href="https://github.com/alexgerstein/dartmouth-major-planner">GitHub</a>.</p>
  </div>
  <span flex></span>
</div>
