<div layout="row" layout-align="center center">
  <span flex></span>
  <div flex='50'>
    <h1 class='md-display-2'>Introducing DARTPlan Pro</h1>
    <h2 class='md-headline'><i>Name Your Price for a Limited-Time Only!</i></h4>
    <p><i>Gain exclusive access to premium features, including:</i></p>

    <div class='md-title'>Multiple Plans</div>
    <p>Want to see what your course-load would look like with that double major? Not sure senior spring will be easy enough if you take that FSP next winter? With DARTPlan Pro, there's no limit to the number of D-Plans you can create.</p>

    <p class='md-headline'>Pricing</p>
    <p>So how much does this cost? You decide!</p>
    <p>For a limited time, DARTPlan Pro is name-your-own-price. Venmo us <a ng-href='https://venmo.com/dartplan'>@dartplan</a> with a donation of at least $1 to sign up for DARTPlan Pro. Please allow up to 2 hours for our systems to approve your request.</p>

    <div layout='column' layout-align="center center" >
      <md-button ng-href='https://venmo.com/dartplan' target='_blank' class="md-raised md-accent">
        Go Pro for as little as $1!
      </md-button>
    </div>
  </div>
  <span flex></span>
</div>
