<md-list-item layout="row" class="md-list-item-text">
  <h3 class="md-body-2">{[offering.name]} ({[offering.hour]})</h3>
  <span flex></span>
  <md-button class="md-fab md-mini md-primary" ng-click="showTermModal(offering.course)" aria-label="Edit">
    <ng-md-icon icon="mode_edit" style="fill: white">    <md-tooltip>
      Edit
    </md-tooltip></ng-md-icon>

  </md-button>
  <md-button class="md-fab md-mini md-primary" ng-click="showOfferingInfoModal(offering)" aria-label="More Info">
    <ng-md-icon icon="description" style="fill: white"></ng-md-icon>
    <md-tooltip>
      More Info
    </md-tooltip>
  </md-button>
  <md-divider></md-divider>
</md-list-item>
