{% extends "base.html" %}

{% block content %}
<div class="container-fluid">
    <div class="row-fluid">
    <div class="span3">
        <ul class="nav nav-tabs nav-stacked">
             <li><a href="{{ url_for('frontend.about') }}">About</a></li>
             <li><a href="{{ url_for('frontend.contribute') }}">Contribute</a></li>
              <li><a href="{{ url_for('frontend.donate') }}">Donate</a></li>
             <li><a href="{{ url_for('frontend.contact') }}">Contact</a></li>
             <li><a href="{{ url_for('frontend.disclaimer') }}">Disclaimer</a></li>
        </ul>
    </div>

    <div class="span9">

        {% block text %}{% endblock %}

    </div>
</div>
</div>
 {% endblock %}
