{% extends "base.html" %}

{% block content %}

<div layout="row">
  <span flex></span>
  <div flex="50">
    <h1>DISCLAIMER</h1>
    <p>DARTPlan has no direct affiliation with Dartmouth College.</p>
    <p>The data provided by this site is unofficial and has no authority over the information provided directly by the College or its underlying departments.</p>
    <p>Any plans you create on DARTPlan should be verified with the College's available resources, including timetables, advisors, and department listings.</p>
  </div>
  <span flex></span>
</div>
{% endblock %}
