<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}

<div layout="row">
    <span flex></span>
    <form ng-controller="UserFormController" class="form-horizontal" action="" method="post" name="edit">
        <h1>Edit Your Profile</h1>

        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>

        <md-input-container>
            <label for="nickname">Your name:</label>
            <input name="nickname" ng-model="user.nickname" type="text" md-maxlength="64" required>
        </md-input-container>
        <md-input-container>
            <label for="grad_year">Your graduating year:</label>
            <input name="grad_year" ng-model="user.grad_year" type="number" md-maxlength="4" minlength="4">
        </md-input-container>
        <md-input-container>
            <label for="email_course_updates">Email me about course updates</label>
            <input type="checkbox" name="email_course_updates" ng-model="user.email_course_updates" aria-label="Receive updates on your courses">
        </md-input-container>
        <md-input-container>
            <label for="email_Dartplan_updates">Email me about DARTPlan updates</label>
            <input type="checkbox" name="email_Dartplan_updates" ng-model="user.email_Dartplan_updates" aria-label="Receive updates when dartplan releases a new feature">
        </md-input-container>
        <md-input-container>
            <md-button class="md-raised md-primary" type="submit" flex>Save Changes</md-button>
<!--                 <a href="/api/user" class="btn btn-danger">Delete Account</a> -->
        </md-input-container>
    </form>
    <span flex></span>
</div>
{% endblock %}
