{% extends "base.html" %}

{% block content %}

<div class="landing">
	<div class="landing-main">
		<div layout="row" layout-align="center">
			<h1 class="md-display-3">Find the courses that fit.</h1>
		</div>
		<div layout="row" layout-align="center">
			<h3 class="md-title">Get your D-Plan under control.</h3>
		</div>
		<div layout="row" layout-align="center" layout-margin layout-padding>
			<a href="/planner"><md-button class="md-raised md-accent">Sign in <br> with your Dartmouth ID</md-button></a>
		</div>
	</div>

  <div class="landing-screenshot" layout="row" layout-align="center center">
    <img src={{url_for('static', filename='img/dartplan-landing.png')}} flex-gt-sm="60">
  </div>

  <div class="landing-promo" layout="row">
    <div class="promo" layout="column" flex>
      <ng-md-icon icon="filter_list" class="promo-logo" size="75px"></ng-md-icon>
      <div class="md-headline">Filter</div>
      <h4 class="md-subhead">Search for courses by department, term and period.</h4>
    </div>
    <div class="promo" layout="column" flex>
      <ng-md-icon icon="add" class="promo-logo" size="75px"></ng-md-icon>
      <div class="md-headline">Add</div>
      <h4 class="md-subhead">Drag a course into your course plan and instantly see when it's offered.</h4>
    </div>
    <div class="promo" layout="column" flex>
      <ng-md-icon icon="refresh" class="promo-logo" size="75px"></ng-md-icon>
      <div class="md-headline">Refresh</div>
      <h4 class="md-subhead">Revise class sections and off-terms. Your plan will update automatically.</h4>
    </div>
  </div>

  <div class="landing-closing">
    <div layout="row" layout-align="center">
      <h1 class="md-display-2" flex="45" flex-sm="100">Sign up now to start using DARTplan</h1>
    </div>
    <div>
      <a href="/login"><md-button class="md-raised md-accent">Sign Up</md-button></a>
    </div>
  </div>
</div>
{% endblock %}
