{% extends "base.html" %}

{% block content %}

<div ng-controller="SearchController" class="edit" flex="25">
    <form class="md-whiteframe-z3" ng-submit="submit()" layout='column' layout-padding layout-margin name="filterCourses">
      <div layout="row" layout-md="column">
        <md-select ng-model="fields.dept_id" placeholder="Dept" flex>
          <md-option ng-value="opt.key" ng-repeat="opt in {{dept_options}}">{[opt.value]}</md-option>
        </md-select>
        <md-select ng-model="fields.term_id" placeholder="Term" flex>
          <md-option ng-value="opt.key" ng-repeat="opt in {{term_options}}">{[opt.value]}</md-option>
        </md-select>
    </div>
    <div layout="column">
        <md-select ng-model="fields.hour_id" placeholder="Hour">
          <md-option ng-value="opt.key" ng-repeat="opt in {{hour_options}}">{[opt.value]}</md-option>
        </md-select>
    </div>
    <div layout="row" layout-md="column">
        <md-select ng-model="fields.distrib_id" placeholder="Distrib" flex>
          <md-option ng-value="opt.key" ng-repeat="opt in {{distrib_options}}">{[opt.value]}</md-option>
        </md-select>
        <md-select ng-model="fields.median_id" placeholder="Median" flex>
          <md-option ng-value="opt.key" ng-repeat="opt in {{median_options}}">{[opt.value]}</md-option>
        </md-select>
    </div>
    <md-button class="md-raised md-primary" type="submit" flex="15" flex-md="100">Search</md-button>
    </form>

    <md-list layout-padding layout-margin>
        <md-progress-linear ng-if="loading" md-mode="indeterminate">Searching</md-progress-linear>
        <md-list-item ng-if="courses && !courses.length && !loading">No courses found.</md-list-item>
        <course-search-result ng-repeat="course in courses"></course-search-result>
    </md-list>
</div>

<div ng-controller="PlannerController" class="planner" flex="75">
  <div layout="row" layout-wrap>
    <section class="term" flex="25" ng-repeat="term in terms">
      <md-subheader class="md-primary">{[term.abbr]}<i class="btn on" style="float: right">
          <div ng-show="!term.on">On?</div>
          <div ng-show="term.on">On?</div>
      </i></md-subheader>
      <md-list id="{[term.id ]}" layout-padding>
        <div class="md-3-line" ng-if="offering.term.abbr === term.abbr" ng-repeat="offering in offerings">
          <div class="md-list-item-text">
            <h3>{[offering.name]}</h3>
          </div>
        <md-divider></md-divider>
        </div>
      </md-list>
    </section>
  </div>
</div>

<div class="modal hide fade" id="disclaimerModal">
  <div class="modal-header">
    <h3>DISCLAIMER</h3>
  </div>
  <div class="modal-body">
    <p>DARTPlan has no direct affiliation with Dartmouth College.</p>
    <p>The data provided by this site is unofficial and has no authority over the information provided directly by the College or its underlying departments.</p>
    <p>Any plans you create on DARTPlan should be verified with the College's available resources, including timetables, advisors, and department listings.</p>
  </div>
  <div class="modal-footer">
    <a class="btn" data-dismiss="modal">Close</a>
  </div>
</div>

<script>

    // $(document).ready(function() {
    //     $('.on').click(function() {
    //         var btn_id = $(this).parents('.term').find('ul').attr('id');
    //         swap_term(btn_id);
    //     });

    //     $('#disclaimerModal').modal('show')
    // });

    // $("i[class='popover-trigger']").popover(
    //         {
    //             "title":"Course Info",
    //             "html":true,
    //             "animation":true,
    //             "placement":"bottom",
    //             "trigger":"click"
    //         });

    // $(".sortable1, .sortable2").sortable({
    //     helper: function(event) {
    //                 return $(event.target).clone().css({
    //                     width: $(event.target).width(),
    //                     height: $(event.target).height(),
    //                 })
    //             },
    //     items: "li:not(.pin)",
    //     cursor: "crosshair",
    //     connectWith: '.droptrue',
    //     opacity: 0.6,
    //     zIndex: 10000,
    //     scroll: false,
    //     receive: saveCourse,
    //     start: function (event, ui) {
    //         $(ui.helper).addClass("ui-draggable-helper");
    //         showAvailableSlots(event, ui);
    //     },
    //     stop: function (event, ui) {
    //         $(this).sortable('cancel');
    //         clearAvailableSlots(event, ui);
    //     }
    // });

    // $(".sortable1, .sortable2").disableSelection();

    // $('body').on('click', function (e) {
    //     $('[data-toggle=popover]').each(function () {
    //         //the 'is' for buttons that trigger popups
    //         //the 'has' for icons within a button that triggers a popup
    //         if (!$(this).is(e.target) && $(this).has(e.target).length === 0 && $('.popover').has(e.target).length === 0) {
    //             $(this).popover('hide');
    //         }
    //     });
    // });


</script>

{% endblock %}
