{% extends "about_us.html" %}

{% block text %}

<h1>Disclaimer</h1>
<p>DARTPlan has no direct affiliation with Dartmouth College.</p>

<p>The data provided by the site is unofficial and has no authority over the information provided directly by the College or its underlying departments.</p>

<p>In other words, after you've done all of your course planning on DARTPlan, it is in your best interest to verify your plan with the College's available resources: the Registrar, timetables, advisors, etc.</p>

{% endblock %}
