{% extends "base.html" %}

{% block content %}

<header class="container-fluid home-anchor">
	<div class="row-fluid">
		<div class="span6">
			<h1 class="animated fadeInLeftBig animation-delay">Find the courses that fit.</h1>
			<p class="animated fadeInLeftBig animation-delay">Get your D-Plan under control. Click-and-drag for course availability with DARTPlan.</p>
			<div class="animated fadeInUp buttons-delay"><a id="download-button" class="button hover animated" href="/planner">SIGN IN <br><span style="font-size: 12px"> using your</span> <br> Dartmouth ID</a></div>
		</div>
		<div class="span6 animated fadeInRightBig animation-delay">
			<div class="notebookslider flexslider">
			  <ul class="slides">
			    <li style="width: 100%; float:left; margin-right:-100%; position:relative; display: list-item;" class>
			      <img src="static/img/slide1.jpg" />
			    </li>
			    <li style="width: 100%; float:left; margin-right:-100%; position:relative; display: list-item;" class>
			      <img src="static/img/slide2.jpg" />
			    </li>
			    <li style="width: 100%; float:left; margin-right:-100%; position:relative; display: list-item;" class>
			      <img src="static/img/slide3.jpg" />
			    </li>
			  </ul>
			</div>
		</div>
	</div>

	<section id="counter">
		<div class="container-fluid">
			<a href="/planner"><div class="row-fluid">
				<div class="span8 offset2">
				<h2>Join the {{ user_count }} students<br>already using DARTPlan</h2>
			</div></a>
		</div>
	</section>

	<section id="info">
		<div class="row-fluid">
			<div class="span4">
				<h3><i class="fa fa-filter"></i> Filter</h3>
				Search for courses by department, term and period.
			</div>
			<div class="span4">
				<h3><i class="fa fa-plus"></i> Add</h3>
				Drag a course into your course plan and instantly see when it's offered.
			</div>
			<div class="span4">
				<h3><i class="fa fa-refresh"></i> Update</h3>
				Revise class sections and off-terms. Your plan will update automatically.
			</div>
		</div>
	</section>

</header>

{% endblock %}
