<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}
<table>
    <tr valign="top">
        <td><h1>User: {{user.nickname}}</h1>
        {% if user.netid %}<p>{{user.netid}}</p>{% endif %}
        {% if user.grad_year %}<p><i>Graduating: {{user.grad_year}}</i></p>{% endif %}
        <p> 
            {% if user.id == g.user.id %}
                <a href="{{url_for('edit')}}">Edit your profile</a>
            {% endif %}
        </p>
        </td>
    </tr>
</table>
<hr>
{% endblock %}