<h1><b>DART</b>Plan</p></h1>

<p>Dear {{user.nickname.split(" ")[0]}},</p>

<p>
	Your course planning experience is about to get a whole lot better!
</p>

<p>
	Say goodbye to the ORC and hello to DARTPlan. No more manually tracking what courses fit into your schedule with Excel documents and unnavigable webpages. DARTPlan helps you find the courses that work in your schedule with a simple drag-and-drop!
</p>

<p>
	Our mission is to lighten the burden that the Registrar places on students to plan out their classes. We strive to make selecting courses a breeze. To this end, we have a lot of exciting new features in store for the terms ahead!
</p>

<p>
	Now, it's time to <a href="{{url_for('planner', _external = True)}}">find the courses that fit!</a>
</p>

<p>Regards,</p>

<p>The DARTPlan Team</p>